.title{
    color: #0984e3;
}

.login-box{
    padding-top:100px;
}

.error-box{
    color: #d63031;
    background-color: #fab1a0;
    border-radius: 10px;
    padding-top: 7px; 
    padding-bottom: 7px; 
}