.menu-container-innner{
    padding-right:30px;
    padding-left: 30px;
}
.menu-input{
    margin-right:5px;
    width: 100px;
}

.menu-btn{
    margin-right:5px;
}

.progress-bar{
    width: 100%;
    height: 20px;;
}

.badge {    
    color: #ecf0f1;
    border-radius: 100%;
    margin-right: 10px;
}

.badge-err {
    background-color: #e74c3c;
}

.badge-done {
    background-color: #2ecc71;
}

.badge-issue {
    background-color: #e67e22;
}


.submissionTargetContainer {
    margin-left: 30px;
}

.addAwardsContainer {
    display: flex;
}
.awardsContainer .table th{
    padding: 5px !important;
    width: 50px !important;
}

.awardsContainer .table td{
    padding: 5px !important;
    width: 50px !important;
}